<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List - Score Cards - Score Card Monitor</title>
<!--/*/ <th:block th:include="monitor/fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="monitor/fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<h1>Score Cards</h1>
			</div>
			<div class="row">
				<div class="dropdown pull-right">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="transactionDropDownMenu" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true"
						th:text="${transactionName == null ? 'Select Transaction' : transactionName}">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="transactionDropDownMenu">
						<li><a th:href="|?|">Show All</a></li>
						<li role="separator" class="divider"></li>
						<li th:each="transaction : ${transactions}"><a
							th:href="|?transaction_name=${transaction.name}|"
							th:text="${transaction.name}"></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>Score Card Id</th>
							<th>Transaction Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="scoreCard : ${scorecards.data}"
							th:classappend="${(scoreCard.hasFailedActions() ? 'danger' : '') + (scoreCard.hasPendingActions() ? 'info' : '')}">
							<td><a th:href="@{'/monitor/scorecard/' + ${scoreCard.scoreCardId}}" th:text="${scoreCard.scoreCardId}"></a></td>
							<td th:text="${scoreCard.transactionName}"></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<ul class="pagination">
						<li th:each="i: ${#numbers.sequence(1, scorecards.getPages())}" th:classappend="${scorecards.page == i - 1} ? active : ''">
							<a th:if="${null == transactionName}" th:text="${i}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${i - 1}}"></a>
							<a th:if="${null != transactionName}" th:text="${i}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${i - 1} + '&transaction_name=' + ${transactionName}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>