<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List - Score Cards - Score Card Monitor</title>
<!--/*/ <th:block th:include="monitor/fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="monitor/fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<div class="col-md-9">
					<h1>Score Cards</h1>
				</div>
				<div class="col-md-3 pull-right">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="transactionDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<th:block th:text="${transactionName == null ? 'Select Transaction' : transactionName}"></th:block>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="transactionDropDownMenu">
							<li><a th:href="|?|">Show All</a></li>
							<li role="separator" class="divider"></li>
							<li th:each="transaction : ${transactions}"><a
								th:href="|?transaction_name=${transaction.name}|"
								th:text="${transaction.name}"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="fit"></th>
								<th>Score Card Id</th>
								<th>Transaction Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="scoreCard : ${scorecards.data}">
								<td th:if="${scoreCard.hasFailedActions()}" class="danger fit">
									<span class="glyphicon glyphicon-remove"></span>
								</td>
								<td th:if="${scoreCard.hasPendingActions()}" class="info fit">
									<span class="glyphicon glyphicon-refresh"></span>
								</td>
								<td th:if="${!scoreCard.hasPendingActions() && !scoreCard.hasFailedActions()}" class="success fit">
									<span class="glyphicon glyphicon-ok"></span>
								</td>
								<td><a th:href="@{'/monitor/scorecard/' + ${scoreCard.scoreCardId}}" th:text="${scoreCard.scoreCardId}"></a></td>
								<td th:text="${scoreCard.transactionName}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<ul class="pagination">
							<li th:if="${null == transactionName}" th:classappend="${scorecards.page > 0 ? '' : 'disabled'}">
								<a th:if="${scorecards.page > 0}" th:text="First" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=0'}"></a>
								<a th:if="${scorecards.page <= 0}" th:text="First"></a>
							<li>
							<li th:if="${null != transactionName}" th:classappend="${scorecards.page > 0 ? '' : 'disabled'}">
								<a th:text="First" th:disabled="${scorecards.page == 0}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=0&transaction_name=' + ${transactionName}}"></a>
							<li>
							<li th:if="${null == transactionName}" th:classappend="${scorecards.page > 0 ? '' : 'disabled'}">
								<a th:if="${scorecards.page > 0}" th:text="Prev" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.page - 1}}"></a>
								<a th:if="${scorecards.page <= 0}" th:text="Prev"></a>
							<li>
							<li th:if="${null != transactionName}" th:classappend="${scorecards.page > 0 ? '' : 'disabled'}">
								<a th:text="Prev" th:disabled="${scorecards.page == 0}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.page - 1} + '&transaction_name=' + ${transactionName}}"></a>
							<li>
							<li th:each="i: ${#numbers.sequence(scorecards.page - 5 < 0 ? 1 : scorecards.page - 4, scorecards.page + 5 >= scorecards.getPages() ? scorecards.getPages() : scorecards.page + 6)}" th:classappend="${scorecards.page == i - 1} ? active : ''">
								<a th:if="${null == transactionName}" th:text="${i}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${i - 1}}"></a>
								<a th:if="${null != transactionName}" th:text="${i}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${i - 1} + '&transaction_name=' + ${transactionName}}"></a>
							</li>
							<li th:if="${null == transactionName}" th:classappend="${scorecards.page < scorecards.getPages() - 1 ? '' : 'disabled'}">
								<a th:if="${scorecards.page < scorecards.getPages() - 1}" th:text="Next" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.page + 1}}"></a>
								<a th:if="${scorecards.page >= scorecards.getPages() - 1}" th:text="Next"></a>
							<li>
							<li th:if="${null != transactionName}" th:classappend="${scorecards.page < scorecards.getPages() - 1 ? '' : 'disabled'}">
								<a th:text="Next" th:disabled="${scorecards.page == scorecards.getPages() - 1}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.page + 1} + '&transaction_name=' + ${transactionName}}"></a>
							<li>
							<li th:if="${null == transactionName}" th:classappend="${scorecards.page < scorecards.getPages() - 1 ? '' : 'disabled'}">
								<a th:if="${scorecards.page < scorecards.getPages() - 1}" th:text="Last" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.getPages() - 1}}"></a>
								<a th:if="${scorecards.page >= scorecards.getPages() - 1}" th:text="Last"></a>
							<li>
							<li th:if="${null != transactionName}" th:classappend="${scorecards.page < scorecards.getPages() - 1 ? '' : 'disabled'}">
								<a th:text="Last" th:disabled="${scorecards.page == scorecards.getPages() - 1}" th:href="@{'/monitor/scorecard/list?rows=' + ${scorecards.rows} + '&page=' + ${scorecards.getPages() - 1} + '&transaction_name=' + ${transactionName}}"></a>
							<li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>