<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Cancel - Transaction - Score Card Portal</title>
<!--/*/ <th:block th:include="portal/fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="portal/fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<h1>Confirm Cancel</h1>
			</div>
			<div class="row">
				<form method="post" th:action="${flowExecutionUrl}">
					<button type="submit" name="_eventId_deny" value="deny" class="btn btn-primary">No</button>
					<button type="submit" name="_eventId_confirm" value="confirm" class="btn btn-primary pull-right">Yes</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>