<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add - Transaction - Score Card Portal</title>
<!--/*/ <th:block th:include="portal/fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="portal/fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<h1>Add Transaction</h1>
			</div>
			<div class="row">
				<form method="post" th:action="${flowExecutionUrl}" th:object="${transaction}">
					<div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
						<label for="transaction_name">Name</label>
						<input type="text" class="form-control" id="transaction_name" placeholder="Transaction name" th:field="*{name}">
						<span th:each="err : ${#fields.errors('name')}" th:text="${err}" class="help-block"></span>
					</div>
					<button type="submit" name="_eventId_cancel" value="cancel" class="btn btn-link">Cancel</button>
					<button type="submit" name="_eventId_saveTransaction" value="saveTransaction" class="btn btn-primary pull-right">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>