<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List - Transactions - Score Card Portal</title>
<!--/*/ <th:block th:include="portal/fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="portal/fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<form method="post">
				<div class="row">
					<div class="col-md-9">
						<h1>Transactions</h1>
					</div>
					<div class="col-md-3 pull-right">
						<div class="btn-group">
						 	<button type="submit" class="btn btn-primary" name="_eventId_addTransaction" value="addTransaction" th:formaction="${flowExecutionUrl}">
						        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Transaction
						    </button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Transaction Id</th>
									<th>Transaction Name</th>
									<th>Action Count</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="transaction : ${transactions}">
									<td>
										<button type="submit" class="btn btn-link" name="_eventId_selectTransaction" value="selectTransaction" th:formaction="${flowExecutionUrl + '&transaction_id=' + transaction.transactionId}" th:text="${transaction.transactionId}"></button>
									</td>
									<td th:text="${transaction.name}"></td>
									<td th:text="${transaction.actionCount}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>