body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
}
.comma-list li {
  display: inline;
}
.comma-list li::after {
  content: ", ";
}
.comma-list li:last-child::after {
    content: "";
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}