<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Delete - Action - Score Card Portal</title>
<!--/*/ <th:block th:insert="~{fragments/headerinc :: head}"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="~{fragments/header :: header}"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center">
					<form method="post" th:action="${flowExecutionUrl}">
						<h3>Are you sure you want to delete the <span th:text="${action.name}"></span> action?</h3>
						<button type="submit" name="_eventId_deny" value="deny" class="btn btn-primary pull-left">No</button>
						<button type="submit" name="_eventId_confirm" value="confirm" class="btn btn-primary pull-right">Yes</button>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</body>
</html>
