<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add - Service - Score Card Portal</title>
<!--/*/ <th:block th:insert="~{fragments/headerinc :: head}"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="~{fragments/header :: header}"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<div class="row">
				<div class="col-md-12">
					<h1>Add Service</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="alert alert-danger" th:if="${serviceNameTaken}">Service name already taken. Please try a different name.</p>
					<form method="post" th:action="${flowExecutionUrl}" th:object="${service}">
						<div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
							<label for="service_name">Name</label>
							<input type="text" class="form-control" id="service_name" placeholder="Service name" th:field="*{name}">
							<span th:each="err : ${#fields.errors('name')}" th:text="${err}" class="help-block"></span>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('path') ? 'has-error' : ''}">
							<label for="path">Path</label>
							<input type="text" class="form-control" id="path" placeholder="Path" th:field="*{path}">
							<span th:each="err : ${#fields.errors('path')}" th:text="${err}" class="help-block"></span>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('transport') ? 'has-error' : ''}">
							<label for="transport">Transport</label>
							<select class="form-control" th:field="*{transport}">
								<option th:each="transport : ${T(dev.zachmaddox.scorecard.common.domain.Transport).values()}"
									th:value="${transport}"
									th:text="${transport}"></option>
							</select>
							<span th:each="err : ${#fields.errors('transport')}" th:text="${err}" class="help-block"></span>
						</div>
						<button type="submit" name="_eventId_cancel" value="cancel" class="btn btn-link">Cancel</button>
						<button type="submit" name="_eventId_saveService" value="saveService" class="btn btn-primary pull-right">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
