<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detail - Service - Score Card Portal</title>
<!--/*/ <th:block th:insert="~{fragments/headerinc :: head}"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:insert="~{fragments/header :: header}"></th:block> /*/-->
	<div class="container">
		<div class="starter-template">
			<form method="post" th:object="${service}">
				<div class="row">
					<div class="col-md-9">
						<h1>Service</h1>
					</div>
					<div class="col-md-3 pull-right">
						<div class="btn-group">
							<button type="submit" class="btn btn-primary" name="_eventId_deleteService" value="deleteService" 	>
								<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
								Delete Service
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="alert alert-danger" th:if="${actionInUse}">Service could not be deleted. It has actions that are currently in use by a transaction.</p>
						<div class="control-group">
							<label class="control-label">Service Id:</label>
							<span class="controls readonly" th:text="${service.serviceId}"></span>
						</div>
						<div class="control-group">
							<label class="control-label">Service Name:</label>
							<span class="controls readonly" th:text="${service.name}"></span>
						</div>
						<div class="control-group">
							<label class="control-label">Service Path:</label>
							<span class="controls readonly" th:text="${service.path}"></span>
						</div>
						<div class="control-group">
							<label class="control-label">Service Transport:</label>
							<span class="controls readonly" th:text="${service.transport}"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Actions</h3>
						<div class="btn-group pull-right">
							<button type="submit" class="btn btn-primary" name="_eventId_addAction" value="addAction" th:formaction="${flowExecutionUrl}">
								<i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add Action
							</button>
						</div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Action Id</th>
									<th>Action Name</th>
									<th>Action Path</th>
									<th>Method</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="action : ${service.actions}">
									<td>
										<button type="submit" class="btn btn-link" name="_eventId_actionDetails" value="actionDetails" th:text="${action.actionId}" th:formaction="${flowExecutionUrl + '&amp;action_id=' + action.actionId}" ></button>
									</td>
									<td th:text="${action.name}"></td>
									<td th:text="${action.path}"></td>
									<td th:text="${action.method}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
